/*
#   SITE
#   _site.scss
#
#   INDEX
#
#   1 - SITE + PAGE BUTTON
#   2 - CONTAINER
#   3 - WRAPPER
#   4 - ROWS
*/

/*
#   1 - SITE    1 - SITE    1 - SITE    1 - SITE    1 - SITE    1 - SITE    1 - SITE    1 - SITE
*/

.site {
}

#page {
  overflow-x: hidden;
}

.page-button {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $g-white;
  -webkit-transition: opacity $g-trans-slow ease-in-out;
  -moz-transition: opacity $g-trans-slow ease-in-out;
  transition: all $g-trans-slow ease-in-out;
  opacity: 0;
  z-index: -999999999;
  &.active {
    display: block;
    z-index: 555555;
    opacity: 0;
    top: 0;
    &:hover {
      cursor: e-resize;
      opacity: .25;
    }
  }
}

/*
#   2 - CONTAINER    2 - CONTAINER    2 - CONTAINER    2 - CONTAINER    2 - CONTAINER    2 - CONTAINER    2 - CONTAINER
*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  &.np {
    padding: 0!important;
  }
  &.center, .center {
    text-align: center;
  }
  &.right, .right {
    text-align: right;
  }

  // container paddings
  &.tp-nav { padding-top: $g-nav-size; } // top padding nav
  &.np, .np { padding: 0; }
  &.nm, .nm { margin: 0; }
  &.nmt, .nmt { margin-top: 0; }
  &.fw, .fw { width: 100%;}
  .container-wrapper-100 {
    width: 100%;
    &.break {
      width: calc(100% + 96px);
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }
  .container-wrapper-50 {
    width: 50%;
    &.right { right: 0; }
  }

}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.navbar .container {
  padding: 0;
  width: 100%;
}
.navbar .container,
#content.container,
.feature-inner.container,
.feature-buttons.container,
.article-nav.container,
.article.entry.container,
.article.footer.container,
.search-wrapper .container,
#wrapper-page .container,
#wrapper-footer .container,
#wrapper-footer-full .container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.article.entry.container, .article.footer.container {
  //width: calc(100% - 30px);
}
.content-single.container {
  width: 80%;
}
.wrap-pushmenu .navbar .container,
.push-block-wrapper {
  margin: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  .push-esc {
    padding-right: .5rem;
  }
}
#content.article.container {
  width: 100%;
  padding: 0;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
  .navbar .container,
  #content.container,
  .feature-inner.container,
  .feature-buttons.container,
  .article-nav.container,
  .article.entry.container,
  .article.footer.container,
  .search-wrapper .container,
  #wrapper-page .container,
  #wrapper-footer .container,
  #wrapper-footer-full .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .article.entry.container, .article.footer.container {
    width: calc(100% - 30px);
  }
  .wrap-pushmenu .navbar .container {
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .push-esc {
      padding-right: .5rem;
    }
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
  .navbar .container,
  #content.container,
  .feature-inner.container,
  .feature-buttons.container,
  .article-nav.container,
  .article.entry.container,
  .article.footer.container,
  .search-wrapper .container,
  #wrapper-page .container,
  #wrapper-footer .container,
  #wrapper-footer-full .container {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #wrapper-page .content-single.container {
  }
  .wrap-pushmenu .navbar .container {
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .push-esc {
      padding-right: .5rem;
    }
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
  .navbar .container,
  #content.container,
  .feature-inner.container,
  .feature-buttons.container,
  .article-nav.container,
  .article.entry.container,
  .article.footer.container,
  .search-wrapper .container,
  #wrapper-page .container,
  #wrapper-footer .container,
  #wrapper-footer-full .container {
    width: 90%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  #wrapper-page .content-single.container {

  }
  .wrap-pushmenu .navbar .container {
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .push-esc {
      padding-right: .5rem;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
  .navbar .container,
  #content.container,
  .feature-inner.container,
  .feature-buttons.container,
  .article-nav.container,
  .article.entry.container,
  .article.footer.container,
  .search-wrapper .container,
  #wrapper-page .container,
  #wrapper-footer .container,
  #wrapper-footer-full .container {
    width: 80%;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  #wrapper-page .content-single.container {
  }
  .wrap-pushmenu .navbar .container {
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    .push-esc {
      padding-right: .5rem;
    }
  }
}

/*
#   3 - WRAPPER    3 - WRAPPER    3 - WRAPPER    3 - WRAPPER    3 - WRAPPER    3 - WRAPPER
*/

// Padding for nav
#wrapper-index,
#page-wrapper,
#wrapper-page,
#archive-wrapper,
#author-wrapper,
.search-wrapper {
  margin-top: $g-nav-size-height-small;
  padding-top: 0;
  background: $g-wrapper-background;
  padding-bottom: 0;
}

// Padding = 0
#wrapper-page.top {
  padding-top: 0;
  margin-top: 0;
}

@media (min-width: 768px) {
  #wrapper-index,
  #page-wrapper,
  #wrapper-page,
  #archive-wrapper,
  #author-wrapper,
  .search-wrapper {
    margin-top: $g-nav-size-height;
    padding-top: 0;
  }
}

#single-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

/*
#   4 - ROWS    4 - ROWS    4 - ROWS    4 - ROWS    4 - ROWS    4 - ROWS
*/

.article.container .row,
.search-wrapper .container .row,
#content.container .row {
  margin-left: 0;
  margin-right: 0;
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
