/*
#   THEMES
#   _themes.scss
#
#   INDEX
#
#   1 - DEFAULTS (theme, inherit)
#   2 - LIGHT
#   3 - DARK
*/

$g-theme-light: #C6C6C6;
$g-theme-dark: #55575d;

/*.navbar-brand {
  fill: $g-logo-color;
}*/

.theme {
  border-width: 2px;
  //&.navbar { border-bottom-color: $g-theme-dark; }
  &.navbar-brand { fill: $g-theme-dark; }
  div,span, i, a,
  h1, h2, h3, h4, h5, h6
  { color: $g-theme-dark; border-color: $g-theme-dark; border-width: 2px; }
  a:hover, a:focus, a:active, a:active:hover
  { color: lighten($g-theme-dark, 20%); border-color: lighten($g-theme-dark, 20%); background: transparent; }
  &.btn {
    background: transparent;
    border: 2px solid $g-theme-dark;
  }
  &.icon-bar {
    background-color: $g-theme-dark!important;
  }
}

/*
#   2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT    2 - LIGHT
*/

.light {
  border-width: 2px;
  //&.navbar { border-bottom-color: $g-theme-light; }
  &.navbar-brand { fill: $g-theme-light; }
  div,span, i, a,
  h1, h2, h3, h4, h5, h6
  { color: $g-theme-light; border-color: $g-theme-light; border-width: 2px; }
  a:hover, a:focus, a:active, a:active:hover
  { color: lighten($g-theme-light, 20%); border-color: lighten($g-theme-light, 20%); background: transparent; }
  &.btn {
    background: transparent;
    border: 2px solid $g-theme-light;
  }
  &.icon-bar {
    background-color: $g-theme-light!important;
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
