/*
# Theme
*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  background-color: $g-body-background;
  color: $g-body-colour;
  -moz-font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  // Stop body scrolling when nav is activated
  &.overflow {
    overflow: hidden;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, samp, figure, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, table, caption, tbody, tfoot, thead, tr, th, td {
border: 0;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
table-layout:fixed;
}

// Start Typographical Styles

// Links
a {
  color: $g-type-link-color;
  -webkit-transition: all $g-trans-medium ease;
  -moz-transition: all $g-trans-medium ease;
  transition: all $g-trans-medium ease;
  &:hover { color: $g-type-link-color-hover; }
}

.link a, span a, p a, figure a, li a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  border-bottom: 2px solid $g-type-link-underline;
  &:hover {
    text-decoration: none;
    border-bottom-color: $g-type-link-underline-hover;
  }
  &:focus {
    text-decoration: none;
  }
}

//@import "layout/layout";
//@import "components/components";
//@import "campaigns/campaigns";

@import "mix/mix";

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
