/*
# Theme
*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: relative;
  background-color: $g-body-background;
  color: $g-body-colour;
  // Stop body scrolling when nav is activated
  &.overflow {
    overflow: hidden;
  }
}

// Start Typographical Styles

// Links
a {
  color: $g-type-link-color;
  &:hover { color: $g-type-link-color-hover; }
}

.link a, span a, p a, figure a, li a,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  border-bottom: 2px solid $g-type-link-underline;
  &:hover {
    text-decoration: none;
    border-bottom-color: $g-type-link-underline-hover;
  }
  &:focus {
    text-decoration: none;
  }
}

//@import "layout/layout";
//@import "components/components";
//@import "campaigns/campaigns";

@import "mix/mix";

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
