/*
#   PAGE
#   _page.scss
#
#   INDEX
#
#   1 - MAIN
#   2 - ARCHIVE
#
*/

/*
#   1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN
*/

main {
}

/*
#   2 - ARCHIVE    2 - ARCHIVE    2 - ARCHIVE    2 - ARCHIVE    2 - ARCHIVE    2 - ARCHIVE    2 - ARCHIVE
*/

.archive {

  .page-header {
    margin: 2rem 0;
    .taxonomy-description {
    }
  }

  li.categories {
    display: inline-block;
    ul {
      display: inline-block;
      padding-left: 0;
      li {
        display: inline-block;
        font-weight: bold;
        .children li:first-child::before, .children li:after {
          content: " - ";
        }
        .children li:last-child::after {
          content: "";
        }
      }
    }
  }

  article {
    margin-top: 2rem;
    border: 1px solid black;
    .entry-title {
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
}
// Responsive breakpoints
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
