/*
#   PAGE
#   _page.scss
#
#   INDEX
#
#   1 - MAIN
#   2 - LIST ARTICLE
#   3 - DISPLAY ARTICLE
#   4 - SPECIFIC PAGES
#   5 - PAGINATION
#
*/

/*
#   1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN
*/

main {
}

/*
#   2 - LIST ARTICLE    2 - LIST ARTICLE    2 - LIST ARTICLE    2 - LIST ARTICLE    2 - LIST ARTICLE    2 - LIST ARTICLE    2 - LIST ARTICLE
*/

.archive, .search, .index, .author {

  .page-header {
    margin: 0;
    .page-title {
      margin-bottom: 1rem;
    }
    .taxonomy-description {
    }
  }

  article {
    margin-top: 2rem;
    border: 1px solid #888;
    border-width: 0 0 1px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 2rem;
    }
    .entry-header {
      .wp-post-img-link {
        display: block;
        width: 100%;
        overflow-y: hidden;
        img {
          width: 100%;
        }
      }
      .entry-title {
        padding: 1rem 1rem .125rem;
      }
      .entry-meta {
        padding: .125rem 1rem .5rem .75rem;
      }
    }
  }

  .list-archive-nav {
    display: block;
    .button {
      //padding: .5rem 1rem;
      background: $g-light-grey;
      border-color: $g-light-grey;
      padding-left: 0;
      //color: $g-brand-primary;
      //line-height: 3rem;
      &:focus {
        background: $g-light-grey;
        border-color: $g-light-grey;
      }
      &.collapsed {
        background: $g-light-grey;
        color: $g-brand-primary;
      }
    }
  }

  .list-archive-container {
    position: relative;
    background: $g-light-grey;
    border: 1px solid $g-brand-primary;
    border-width: 2px 0 0;
    margin-bottom: 2rem;
    z-index: 1;
    min-height: 0;
    top: 0px;
    .wrap {
      padding: 1rem 1rem 2rem;
    }
    li.categories {
      display: block;
      ul {
        display: block;
        padding-left: 0;
        li {
          display: block;
          a {
            display: list-item;
            padding: .25rem 0;
          }
          ul li {
            margin-left: 1.125rem;
            margin-bottom: 0;
            border-left: 1px solid $g-type-neg;
            a {
              padding: .25rem .5rem;
              font-weight: normal;
            }
          }
        }
      }
    }

    .list-archive {
      .title {
        margin-bottom: .25rem;
        display: block;
        color: $g-type-co-3;
      }
      li {
        list-style: none;
      }
      li.archive-date {
        display: block;
        margin-left: 1.125rem;
        border-left: 1px solid $g-type-neg;
        a {
          display: list-item;
          padding: .25rem .5rem;
        }
      }
      li.archive-year {
        display: block;
        padding-left: 0;
        border-left: 0;
        :first-child {
          margin-top: 0;
        }
      }
      li.archive-year a {
        display: list-item;
        padding: .25rem 0;
      }
    }

  }

}

/*
#   4 - SPECIFIC PAGES    4 - SPECIFIC PAGES    4 - SPECIFIC PAGES    4 - SPECIFIC PAGES    4 - SPECIFIC PAGES    4 - SPECIFIC PAGES    4 - SPECIFIC PAGES
*/

.author {
  .page-header {
    text-align: center;
  }
}

// Archive pages
.archive-section, .archive-filter, .archive-panel, .archive-pagination {
  background: $g-light-grey;
}

section.campaign {
  //background-color: #2e4db6!important;
}

.page-about {
  #section-1-intro-wrapper {
    min-height: 0;
  }
}

// HEADER ICONS
.header-icon {
  svg path {
    stroke: $g-brand-primary;
  }
  &.parent {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

/*
#   5 - PAGINATION    5 - PAGINATION    5 - PAGINATION    5 - PAGINATION    5 - PAGINATION    5 - PAGINATION    5 - PAGINATION
*/

.pagination {
  display: block;
  width: 100%;
  padding: 2rem 0;
  margin: 0;
  background: $g-wrapper-background;
  border-radius: 0;
  .previous, .next {
    a:before, a:after {
      font-family: "FontAwesome";
    }
  }
  .previous {
    float: left;
    a:before {
      content: "\f177  ";
    }
  }
  .next {
    float: right;
    a:after {
      content: " \f178";
    }
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  .page-about {
    #section-1-intro-wrapper {
      min-height: 200px;
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
