/*
#   POST
#   _post.scss
#
#   INDEX
#
#   1 - HERO
#   2 - FEATURE
#   3 - ARTICLE
*/

/*
#   1 - HERO    1 - HERO    1 - HERO    1 - HERO    1 - HERO    1 - HERO    1 - HERO    1 - HERO    1 - HERO
*/

.hero {
  position: relative;
  display: table;
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding-top: $g-nav-size-small;
  background: #F0F0F0;
  &.push-top {
    padding-top: $g-nav-size-small;
  }
  .wrap {
    display: table-cell;
    &.left { text-align: left; }
    &.center { text-align: center; }
    &.right { text-align: right; }
    &.top { vertical-align: top; }
    &.middle { vertical-align: middle; }
    &.bottom { vertical-align: bottom; }
  }
}

/*
#   2 - FEATURE    2 - FEATURE    2 - FEATURE    2 - FEATURE    2 - FEATURE    2 - FEATURE    2 - FEATURE    2 - FEATURE
*/

.feature {
  position: relative;
  display: table;
  width: 100%;
  min-height: 650px;
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  &.light {
    background: rgba(0,0,0,0.7);
  }
  &.clear {
    background: none;
  }
}

.feature-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  right: 0; top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
  background-blend-mode: lighten;
  &.nofix {
    position: absolute;
  }
}

.feature-wrap {
  display: table-cell;
  vertical-align: top;
  overflow-y: hidden;
  padding: 0;
  text-align: left;
}

.feature-inner {
  padding-top: 2rem;
  // if needed
  .entry-title {
    line-height: .6;
    margin-bottom: 1rem;
  }
  .entry-title span, .entry-title a {
    font-size: $g-type-d-xs;
    line-height: $g-type-d-xs*1.2;
    border-bottom: none;
    //text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
    -webkit-transition: all $g-trans-slow ease;
    -moz-transition: all $g-trans-slow ease;
    transition: all $g-trans-slow ease;
    a:hover, a:focus {
      text-decoration: none;
    }
  }
  .feature-meta, .feature-meta .btn {
    font-size: $g-type-d-xs;
  }
  h2, h2 span, h2 a {
    font-size: $g-type-d-xs;
  }
}

.feature-buttons {
  .feature-meta {
    display: none;
    position: relative;
    opacity: 0;
    z-index: -1;
    -webkit-transition-duration: $g-trans-slow;
            transition-duration: $g-trans-slow;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transform: translateY(10%);
        -ms-transform: translateY(10%);
            transform: translateY(10%);
  }
  &.active {
    .feature-meta {
      opacity: 1;
      z-index: 1;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%);
      &:nth-child(1) { transition-delay: .3s; }
      &:nth-child(2) { transition-delay: .5s; }
      &:nth-child(3) { transition-delay: .7s; }
      &:nth-child(4) { transition-delay: .9s; }
      &:nth-child(5) { transition-delay: 1.1s; }
      &:nth-child(6) { transition-delay: 1.3; }
      &:nth-child(7) { transition-delay: 1.5s; }
      &:nth-child(8) { transition-delay: 1.7; }
      &:nth-child(9) { transition-delay: 1.9s; }
      &:nth-child(10) { transition-delay: 2.1s; }
    }
  }
}

.feature-meta {
  padding: .5rem .5rem .5rem 0;
  i {
    min-width: 1.5rem;
    text-align: center;
  }
  &:first-child {
    padding-left: 0;
  }
  display: inline-block;
  //border: 1px solid $theme-negative;
  //border-radius: .25rem;
  margin-right: .5rem;
  &:last-child {
    margin-right: 0;
  }
  &.continue {
    display: block;
    margin: 1rem 0;
    //width: 100%;
  }
  a {
    border-bottom-width: 0px;
  }
  &.category {
    a {
      &:after {
        display: inline-block;
        content: ",";
      }
    }
    a:last-child {
      &:after {
        content: "";
      }
    }
  }
}

.entry-meta .social-menu {
  display: inline-block;
}

/*
#   3 - ARTICLE   3 - ARTICLE   3 - ARTICLE   3 - ARTICLE   3 - ARTICLE   3 - ARTICLE   3 - ARTICLE
*/

.article {
  overflow-x: hidden;
  &.container {
    width: 100%;
  }
  .entry-header, .entry-content {
    z-index: 99;
    background-color: $g-post-background;
  }
  .entry-content {
  }
}

.article-pseudo-header,
.article.entry.container {
  background: $g-post-background;
}

.article-nav {
  z-index: 999;
}

.article.entry .article-content {
  //float: left;
  width: 100%;
}

.article.entry {
  padding: 2rem 0;
  line-height: 1.8;
  overflow-y: hidden;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}
.article.entry img, .article.entry figure {
  margin-top: 1rem;
  padding: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  & img {
    padding: 0;
  }
}

.article.entry figure {
  .wp-caption-text {
    margin-bottom: 1rem;
    padding: .5rem 1rem .75rem;
    background: $g-grey;
    color: $g-type-co-3;
    a {
      &:after { font-family: "FontAwesome"; content: "\f08e"; display: inline-block; padding-left: .25rem; font-size: 70%; text-decoration: none; }
    }
  }
}

.article .entry-footer {
  padding: 2rem 0;
  background: $g-white;
  .typr, .typr h3, a {
    color: $g-type-neg;
  }
}
.entry-footer .entry-meta {
  text-align: left;
  .feature-meta {
    display: block;
    padding: 1.25rem;
    padding-left: 0;
    border: solid $g-grey;
    border-width: 1px 0 0;
    margin-right: 0;
    a {
      border-width: 2px;
    }
    i {
      min-width: 2rem;
      text-align: center;
    }
    &.share {
      border-top-width: 0;
    }
    &.category {
      border-top: 0px;
      padding-top: 0;
    }
    &.date, &.author {
      width: 100%;
      margin: 0;
      display: inline-block;
    }
    &.date {
      border-right: solid $g-grey;
      border-right-width: 0;
    }
    &.author {
      padding-left: 0;
    }
  }
}
.feature-meta-share {
  padding: 0;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      line-height: .75;
      a:before {
        float: left;
        position: relative;
        margin: 0;
        text-indent: 0;
        text-align: center;
        font-family: "FontAwesome";
        -webkit-transition: all $g-trans-fast ease;
        -moz-transition: all $g-trans-fast ease;
        transition: all $g-trans-fast ease;
      }
      &.facebook a:before {
        content: "\f230";
        color: #3b5998;
      }
      &.instagram a:before {
        content: "\f16d";
        color: #fb3958;
      }
      &.twitter a:before {
        content: "\f099";
        color: #1dcaff;
      }
      &.email a:before {
        content: "\f064";
        color: #555;
      }
      &.linkedin a:before {
        content: "\f0e1";
        color: #0077B5;
      }
      &.pinterest a:before {
        content: "\f231";
        color: #bd081c;
      }
      &.googleplus a:before {
        content: "\f0d5";
        color: #d34836;
      }
      &.whatsapp a:before {
        content: "\f232";
        color: #25D366;
      }
    }
    &:hover {
      li a:before {
        color: $g-grey;
        opacity: .75;
      }
      li {
        &:hover {
          a:before {
            opacity: 1;
            transform: translateY(-.25rem);
          }
          &.facebook a:before {
            content: "\f230";
            color: #3b5998;
          }
          &.instagram a:before {
            content: "\f16d";
            color: #fb3958;
          }
          &.twitter a:before {
            content: "\f099";
            color: #1dcaff;
          }
          &.email a:before {
            content: "\f064";
            color: #555;
          }
          &.linkedin a:before {
            content: "\f0e1";
            color: #0077B5;
          }
          &.pinterest a:before {
            content: "\f231";
            color: #bd081c;
          }
          &.googleplus a:before {
            content: "\f0d5";
            color: #d34836;
          }
          &.whatsapp a:before {
            content: "\f232";
            color: #25D366;
          }
        }
      }
    }
    a {
      display: inline-block;
      position: relative;
      font-size: 150%;
      padding: .5rem;
      overflow: hidden;
      text-indent: -9999px;
      border-bottom: 0;
    }
  }
}
.entry-footer .entry-meta, .article.footer.container .pagination,
.article.footer.container .share, .feature-meta .share {
  h3 { color: $g-grey; }
  h3.explore { color: $g-grey; }
}
.article.footer.container .pagination {
  display: inline-block;
  padding: 0;
  width: 100%;
  border: solid $g-grey;
  border-width: 1px 0;
  h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.5rem;
  }
  .previous, .next {
    padding: 1.5rem;
    width: 50%;
    :after, :before {
      content: "";
    }
  }
  .previous {
    padding-right: 1.5rem;
    padding-left: 0;
    border-right: 1px solid $g-grey;
  }
  .next {
    padding-left: 1.5rem;
    padding-right: 0;
  }
  .previous, .next {
    h3:before {
      padding-right: .5rem;
      color: $g-black;
      font-family: "FontAwesome";
      font-size: 100%;
    }
  }
  .previous {
    h3:before {
      content: "\f177  ";
    }
  }
  .next {
    h3:before {
      content: " \f178";
    }
  }
}
.article.footer.container .pagination {
  display: flex;
  background: transparent;
}

// Responsive breakpoints
@media (min-height: 376px) { // Landscape devices
  .feature-buttons .feature-meta {
    display: inline-block;
  }
}
@include media-breakpoint-up(sm) {
  .hero {
    &.push-top {
      padding-top: $g-nav-size-small;
    }
  }
  .feature-wrap {
    vertical-align: middle;
    padding: 0;
  }
  .feature-inner {
    padding-top: 0;
    .entry-title span, .entry-title a {
      font-size: $g-type-d-sm;
      line-height: $g-type-d-sm*1.4;
    }
  }
  .feature-buttons .feature-meta {
    display: block;
  }
  .feature-buttons .feature-meta {
    display: inline-block;
  }
  .feature-meta.continue {
    display: block;
  }
}
@include media-breakpoint-up(md) {
  .hero {
    &.push-top {
      padding-top: $g-nav-size;
    }
  }
  .feature-wrap {
    vertical-align: middle;
    padding: 0 0 $g-nav-size;
  }
  .feature-inner {
    .entry-title span, .entry-title a {
      font-size: $g-type-d-md;
      line-height: $g-type-d-md*1.5;
    }
  }
  .entry-footer .entry-meta {
    .feature-meta {
      &.date, &.author {
        width: 50%;
      }
      &.author {
        padding-left: 1.25rem;
      }
      &.date {
        border-right-width: 1px;
      }
    }
  }
  .feature-buttons .feature-meta {
    display: inline-block;
  }
  .feature-meta.continue {
    display: block;
  }
}
@include media-breakpoint-up(lg) {
  .feature-inner {
    .entry-title span, .entry-title a {
      font-size: $g-type-d-lg;
      line-height: $g-type-d-lg*1.5;
    }
  }
}
@include media-breakpoint-up(xl) {
  .feature-inner {
    .entry-title span, .entry-title a {
      font-size: $g-type-d-xl;
      line-height: $g-type-d-xl*1.5;
    }
  }
}
