/*
#   BUTTONS
#   _buttons.scss
#
#   INDEX
#
#   1 -
#
*/

/*
#   1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON
*/

.btn {

  // Default style
  border-radius: 0;
  border: none;

  // Styles
  &.btn-plain {
    text-decoration: underline;
    &.bg {
      background: $g-white;
    }
    &:after {
      content: "";
      border-bottom: 2px solid black;
      position: relative;
      left: 0;
      display: none;
      width: 100%;
      text-decoration: none;
      border-bottom: 2px solid $g-type-link-underline;
    }
    &:hover {
      &:after {
        text-decoration: none;
        border-bottom-color: $g-type-link-underline-hover;
      }
    }
  }
  &.btn-primary {
    color: white;
    background: $g-btn-primary;
    &:hover {
      color: white;
      background: lighten($g-btn-primary,20%);
    }
  }

  // Block it
  &.block {
    display: block;
    width: 100%;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }

}

.btn-group-lg>.btn, .btn-lg {

}

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  .btn {
    // Styles
    &.btn-plain {
      text-decoration: none;
      &:after {
        display: block;
      }
    }
    &.block {
      display: inline-block;
      width: auto;
      margin-top: 0;
    }
  }
}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {

}
