/*
#   BUTTONS
#   _buttons.scss
#
#   INDEX
#
#   1 -
#
*/

/*
#   1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON    1 - BUTTON
*/

// Unthemed buttons
.btn {

  // Default style
  border-radius: 0;
  border: none;

  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    opacity: .5;
  }

  // Styles
  &.btn-plain {
    text-decoration: none;
    /*&:after {
      content: "";
      border-bottom: 2px solid black;
      position: relative;
      left: 0;
      display: none;
      width: 100%;
      text-decoration: none;
      border-bottom: 2px solid $g-type-link-underline;
    }*/
    &:hover {
      &:after {
        text-decoration: none;
        border-bottom-color: $g-type-link-underline-hover;
      }
    }
  }
  &.btn-primary, &.btn-primary:hover {
    color: white;
    background: $g-btn-primary;
  }
  &.btn-success, &.btn-success:hover {
    color: white;
    background: $g-btn-success;
  }
  &.btn-tertiary {
    color: $g-btn-tertiary;
    border: 1px solid $g-btn-tertiary;
  }
  &.btn-search {
    text-transform: capitalize;
    color: $g-white;
    border-bottom: 2px solid $g-white;
  }

  &.go {
    &:after {
      position: relative;
      left: .33rem;
      font-family: "FontAwesome";
    }
    &.top:after {
      content: "\f106";
    }
    &.forward:after {
      content: "\f105";
    }
    &.bottom:after {
      content: "\f107";
    }
    &.backward:after {
      content: "\f104";
    }
  }

  // Block it
  &.block {
    display: block;
    width: 100%;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }

  // Clear it
  &.clear {
    clear: both;
  }

}

// Themed buttons

// Light
.light {
  .btn {
    &.btn-plain {
      color: $g-theme-light;
      &:after {
        border-color: $g-theme-light;
      }
    }
    &.btn-primary {
      background: $g-theme-light;
      color: $g-theme-dark;
    }
    &.btn-tertiary {
      color: $g-theme-light;
      border: 1px solid $g-theme-light;
    }
  }
}

.btn-group-lg>.btn, .btn-lg {
  font-weight: bold;
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  .btn {
    // Styles
    &.btn-plain {
      text-decoration: none;
    }
    &.block {
      display: inline-block;
      width: auto;
      margin-top: 0;
    }
  }
}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {

}
