/*
#   FORMS
#   _forms.scss
#
#   INDEX
#
#   1 -
#
*/

/*
#   1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN    1 - MAIN
*/

.form {
  .form-control, .btn-search { font-size: $font-size-h6; }
  &.lines-dark {
    .form-control, .btn-search {
      background: transparent;
      border-width: 0 0 2px 0;
      border-radius: 0;
    }
  }
}

.form.get-involved {
  background: transparent;
  padding: 0;
  #printer-friendly {
    display: none;
  }
  .crm-container .status {
    background-color: transparent;
    background-image: none;
    border: 1px solid $g-brand-secondary;
    border-radius: 0;
    margin: 0.5em 0;
    padding: 0.25em 0.5em;
    color: $g-black;
    font-weight: normal;
  }
  .label {
    float: none!important;
    width: auto!important;
    text-align: left!important;
  }
  .crm-container .crm-section .content {
    margin-left: 0;
  }
  .crm-container div.form-item, .crm-container.crm-public .select2-container, .crm-container.crm-public .select2-results {
    max-width: 310px;
  }
  #crm-container.crm-public input[type="text"], #crm-container.crm-public input[type="password"], #crm-container.crm-public input[type="email"], #crm-container.crm-public select {
    min-width: 300px;
  }
  #crm-container.crm-public .price-set-row input {
    margin: 0 1rem;
  }
  .crm-container .crm-submit-buttons, .crm-container .action-link {
    margin-left: 0;
  }
  .crm-container a.button, .crm-container a.button:link, .crm-container a.button:visited, .crm-container input.crm-form-submit, .crm-container .ui-dialog-buttonset .ui-button, .crm-container input[type=button], .crm-container .crm-button {
    text-shadow: none;
    background: $g-btn-success;
    color: $g-white;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    padding: .33rem;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .crm-container .crm-button.crm-i-button input[type="button"], .crm-container .crm-button.crm-i-button input.crm-form-submit {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .crm-i-button>.crm-i {
    display: none;
  }
  .crm-container.crm-public .select2-container, .crm-container.crm-public .select2-results {
    min-width: 100%;
  }
}


// Search

.search {
  form {
  }

  &.search-lg {
    form {
      label { display: none; }
      .input-group {
        .form-control {
          font-size: 1.5rem;
          border: 2px solid $g-grey;
          border-right: 0px;
        }
      }
      .input-group-btn {
        background: $g-grey;
        font-size: 1.5rem;
        border: 2px solid $g-grey;
        border-left: 0px;
        input {
          background: transparent;
          color: $g-white;
        }
      }
    }
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  .form.get-involved {
    background: #F0F0F0;
    border: 1px solid $g-grey;
    padding: 1rem;
    #crm-container.crm-public input[type="text"], #crm-container.crm-public input[type="password"], #crm-container.crm-public input[type="email"], #crm-container.crm-public select {

    }
    .crm-container div.form-item, .crm-container.crm-public .select2-container, .crm-container.crm-public .select2-results {

    }
    #crm-container.crm-public input[type="text"], #crm-container.crm-public input[type="password"], #crm-container.crm-public input[type="email"], #crm-container.crm-public select {

    }
  }

  .search {
    form {
    }

    &.search-lg {
      form {
        label { display: none; }
        .input-group {
          .form-control {
            font-size: 2rem;
            border: 2px solid $g-grey;
            border-right: 0px;
          }
        }
        .input-group-btn {
          background: $g-grey;
          font-size: 2rem;
          border: 2px solid $g-grey;
          border-left: 0px;
          input {
            background: transparent;
            color: $g-white;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
