/*
# Blocks
*/

.block {
  position: relative;
  display: table;
  width: 100%;
  &.campaign {
    background-size: cover;
    background-position: center;
  }
}

.block-wrap {
  display: table-cell;
  vertical-align: middle;
}

.block-inner {
  padding: $theme-padding-lg 0;
  &.center {
    text-align: center;
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
