/*
# Box
*/

$box-title-size: $font-read-xs;

ul.box {
  margin: 0;
  padding: 0;
  &.box-box {
    display: flex;
    flex-wrap: wrap;
    li.box-post {
          width: 50%;
      min-width: 50%;
      max-width: 50%;
    }
  }
  &.box-box-box {
    display: flex;
    flex-wrap: wrap;
    $bxp: 0rem;
    li.box-post {
          width: 50%;
      min-width: 50%;
      max-width: 50%;
      padding: $bxp;
      margin-bottom: $bxp*2;
      /*3xn 1st column*/&:nth-child(2n+1) { padding: 0 $bxp 0 0;
      a.box-button {transform-origin: left; } }
      /*3xn 2nd column*/&:nth-child(2n+2) { padding: 0 0 0 $bxp;
      a.box-button {transform-origin: right; } }
    }
    padding: 0;
  }
  li.box-post {
    display: block;
    flex: 1;
    float: left;
    margin: 0;
    z-index: inherit;
    a.box-button {
      background: grey;
      display: inline-block;
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
      -webkit-transition: transform $transition-fast ease-in-out;
      -moz-transition: transform $transition-fast ease-in-out;
      -o-transition: transform $transition-fast ease-in-out;
      transition: transform $transition-fast ease-in-out;
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
        opacity: 0;
        transition: opacity $transition-fast ease-in-out;
      }
      &:hover, &:focus, &:active {
        text-decoration: none;
        transform: scale(1) translateY(10px);
        z-index: 99;
        &::before {
          opacity: 1;
        }
        .box-button-cta:before {
          -webkit-transition: width $transition-fast ease-in-out;
          -moz-transition: width $transition-fast ease-in-out;
          -o-transition: width $transition-fast ease-in-out;
          transition: width $transition-fast ease-in-out;
          width: 2rem;
          margin-right: .333rem;
        }
      }
      .box-button-cta {
        position: relative;
        padding: .5rem 0;
        bottom: 0; left: 0;
        z-index: 1;
        width: 100%;
        &:before {
          position: relative;
          display: inline-block;
          content: "";
          border-top: 2px solid $theme-color;
          width: 0rem;
          margin-right: 0;
          top: -.333rem;
        }
      }
    }
    span.title {
      font-size: $box-title-size;
      span.cta {
        display: block;
        margin: 0 .5rem .5rem 0;
        font-size: 75%;
        padding: .25rem .5rem;
        border: 1px solid $theme-primary;
        border-radius: .25rem;
      }
    }
  }
  .box-post-caption {
    padding: 1rem;
    span.title {
    }
  }
  .box-post-feature {
    position: relative;
    height: 100%;
    img {
      height: 100%;
    }
    span.title {
      padding: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0);
      background-image:
        -webkit-gradient(rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));
      background-image:
        -webkit-linear-gradient(rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));
      background-image:
        -moz-linear-gradient(rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));
      background-image:
        -o-linear-gradient(rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));
      background-image:
        linear-gradient(rgba(255,255,255,0.9) 50%, rgba(255,255,255,0));
    }
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  $box-title-size: $font-read-sm;
  ul.box {
    &.box-box-box {
      $bxp: 0rem;
      li.box-post {
            width: 33.333%;
        min-width: 33.333%;
        max-width: 33.333%;
        min-height: 200px;
        padding: $bxp;
        margin-bottom: $bxp*2;
        /*3xn 1st column*/&:nth-child(3n+1) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: left; } }
        /*3xn 2nd column*/&:nth-child(3n+2) { padding: 0 $bxp;
        a.box-button {transform-origin: center; } }
        /*3xn 3rd column*/&:nth-child(3n+0) { padding: 0 0 0 $bxp;
        a.box-button {transform-origin: right; } }
      }
      padding: 0;
    }
    li.box-post {
      a.box-button {
      }
      span.title {
        font-size: $box-title-size;
        span.cta {
          display: block;
          margin: 0 .5rem .5rem 0;
          font-size: 75%;
          padding: .25rem .5rem;
          border: 1px solid $theme-primary;
          border-radius: .25rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  $box-title-size: $font-read-md;
  ul.box {
    &.box-box-box {
      $bxp: 0rem;
      li.box-post {
            width: 33.333%;
        min-width: 33.333%;
        max-width: 33.333%;
        min-height: 200px;
        padding: $bxp;
        margin-bottom: $bxp*2;
        /*3xn 1st column*/&:nth-child(3n+1) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: left; } }
        /*3xn 2nd column*/&:nth-child(3n+2) { padding: 0 $bxp;
        a.box-button {transform-origin: center; } }
        /*3xn 3rd column*/&:nth-child(3n+0) { padding: 0 0 0 $bxp;
        a.box-button {transform-origin: right; } }
      }
      padding: 0;
    }
    li.box-post {
      a.box-button {
      }
      span.title {
        font-size: $box-title-size;
        span.cta {
          display: block;
          margin: 0 .5rem .5rem 0;
          font-size: 75%;
          padding: .25rem .5rem;
          border: 1px solid $theme-primary;
          border-radius: .25rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  $box-title-size: $font-read-lg;
  ul.box {
    &.box-box-box {
      $bxp: 0rem;
      li.box-post {
            width: 33.333%;
        min-width: 33.333%;
        max-width: 33.333%;
        min-height: 200px;
        padding: $bxp;
        margin-bottom: $bxp*2;
        /*3xn 1st column*/&:nth-child(3n+1) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: left; } }
        /*3xn 2nd column*/&:nth-child(3n+2) { padding: 0 $bxp;
        a.box-button {transform-origin: center; } }
        /*3xn 3rd column*/&:nth-child(3n+0) { padding: 0 0 0 $bxp;
        a.box-button {transform-origin: right; } }
      }
      padding: 0;
    }
    li.box-post {
      a.box-button {
      }
      span.title {
        font-size: $box-title-size;
        span.cta {
          display: block;
          margin: 0 .5rem .5rem 0;
          font-size: 75%;
          padding: .25rem .5rem;
          border: 1px solid $theme-primary;
          border-radius: .25rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  $box-title-size: $font-read-xl;
  ul.box {
    &.box-box-box {
      $bxp: 0rem;
      li.box-post {
            width: 25%;
        min-width: 25%;
        max-width: 25%;
        min-height: 200px;
        padding: $bxp;
        margin-bottom: $bxp*2;
        /*3xn 1st column*/&:nth-child(4n+1) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: left; } }
        /*3xn 2nd column*/&:nth-child(4n+2) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: center; } }
        /*3xn 3rd column*/&:nth-child(4n+3) { padding: 0 $bxp 0 0;
        a.box-button {transform-origin: center; } }
        /*3xn 3rd column*/&:nth-child(4n+0) { padding: 0 0 0 $bxp;
        a.box-button {transform-origin: right; } }
      }
      padding: 0;
    }
    li.box-post {
      a.box-button {
      }
      span.title {
        font-size: $box-title-size;
        span.cta {
          display: block;
          margin: 0 .5rem .5rem 0;
          font-size: 75%;
          padding: .25rem .5rem;
          border: 1px solid $theme-primary;
          border-radius: .25rem;
        }
      }
    }
  }
}
