/*
# Buttons
*/

.btn {
  &.btn-secondary {
    &.negative-wire {
      color: $theme-negative;
      border: 1px solid $theme-negative;
      background: transparent;
    }
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
