/*
# Forms
*/

.form {
  &.sm {
    .form-control, .btn-primary { font-size: $font-size-h6; }
  }
  &.md {
    .form-control, .btn-primary { font-size: $font-size-h5; }
  }
  &.lg {
    .form-control, .btn-primary { font-size: $font-size-h4; }
  }
  &.lines-dark {
    .form-control, .btn-primary {
      background: transparent;
      border-width: 0 0 1px 0;
      border-radius: 0;
      border-color: $theme-positive;
      color: $theme-positive;
    }
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
