/*
# Heros
*/

.hero {
  position: relative;
  display: table;
  width: 100%;
  height: 50px;
  &.push-top { // when it's not wrapped to comp for Nav
    margin-top: -$theme-fixed-nav;
    padding-top: $theme-fixed-nav;
  }
  &.campaign {
    background-size: cover;
    background-position: center;
  }
}

.hero-wrap {
  display: table-cell;
  vertical-align: middle;
}

.hero-inner {
  // if needed
  &.center {
    text-align: center;
  }
}

.hero-cta {
  text-align: center;
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
