/*
# Panels
*/

.panel {
  opacity: 0;
  transition: all 1s ease-out;
}
.panel.fade-in {
  opacity: 1;
}
// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
