/*
# Scrollers
# ScrollMagic element controls
*/

.article.entry figure,
.article.entry p,
.article.entry h1,
.article.entry h2,
.article.entry h3,
.article.entry h4 {
  opacity: 0;
  transform: translateY(50px);
  transition: all $transition-slow ease-out;
  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
