/*
# Navigation
# Push Menu, Sticky Nav, etc.
*/

// Local Variables
$header-background: $theme-background;
$header-color:      $theme-primary;

$push-background:   $theme-primary;
$push-color:        $theme-positive;

// Start .page-header with auto hide
.ah.page-header {
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  -webkit-transition-duration: $transition-slow;
          transition-duration: $transition-slow;
  -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
          transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  background-color: $header-background;
}

.ah.page-header.off-canvas {
  -webkit-transform: translateY( -100% );
      -ms-transform: translateY( -100% );
          transform: translateY( -100% );
}
.ah.page-header.fixed {
  top: 0;
  z-index: 9999;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
// ------------------------------ end .page-header


// start navbar
.navbar {
  min-height: $header-height;
  max-height: $header-height;
  &.active {
    .navbar-brand {
      opacity: 0;
    }
  }
  .container {
    width: 100%;
  }
}
// ------------------------------ end .navbar

// start wrap-explore (left nav)
.wrap-explore {
  position: relative;
  float: left;
  margin-left: -0.75rem;
  button.navbar-toggler {
    cursor: pointer;
    cursor: hand;
  }
  .navbar-toggler {
    position: relative;
    float: left;
    width: auto;
    font-size: 1.5rem;
    .icon-bar {
      display: block;
      width: 26px;
      height: 2px;
      border-radius: 1px;
      background-color: $header-color;
      -webkit-transition: all $transition-fast ease;
      -moz-transition: all $transition-fast ease;
      transition: all $transition-fast ease;
    }
    .icon-bar+.icon-bar {
      margin-top: 5px;
    }
    .icon-bar.two {
      &:after {
        opacity: 0;
        position: absolute;
        padding: 0 0.75rem 0 1.5rem;
        top: 0.95rem;
        font-size: 1rem;
        color: $header-color;
        content: "menu";
      }
    }
  }
  .navbar-toggler:hover {
    .icon-bar.one {
      transform: rotate(-45deg);
      width: 10px;
    }
    .icon-bar.two {
      width: 50px;
      margin-top: 2px;
      &:after {
        padding: 0 0.75rem 0 2.25rem;
      }
    }
    .icon-bar.three {
      transform: rotate(45deg);
      width: 10px;
      margin-top: 2px;
    }
  }
  .navbar-toggler.active {
    display: none;
  }
}
// ------------------------ end wrap-explore

// start wrap-brand (central nav)
.wrap-brand {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 128px;
}

.navbar-brand {
  float: none;
  margin-right: 0;
}

.navbar-brand.custom-logo-link img {
  max-width: 8rem;
  height: auto;
}
// ------------------------ end wrap-brand

// start wrap-meta (central nav)
.wrap-meta {
  display: block;
  float: right;
  margin-top: -2.5rem;
  text-align: right;
}
// ------------------------ end wrap-meta
.pushmenu {
  background: $push-background;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.pushmenu-left.pushmenu-open { left: 0; }

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu, .pushmenu-push {
  -webkit-transition: all $transition-fast ease;
  -moz-transition: all $transition-fast ease;
  transition: all $transition-fast ease;
}

// Push navigation
.pushmenu { width: 90%; }
.pushmenu-left { left: -90%; }
.pushmenu-push-toright { left: 90%; }

.wrap-pushmenu {
  .push-esc {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-left: -0.75rem;
    button.navbar-toggler {
      cursor: pointer;
      cursor: hand;
    }
    .navbar-toggler {
      position: relative;
      float: left;
      width: auto;
      font-size: 1.5rem;
      .icon-bar {
        display: block;
        width: 26px;
        height: 2px;
        border-radius: 1px;
        background-color: $push-color;
        -webkit-transition: all $transition-fast ease;
        -moz-transition: all $transition-fast ease;
        transition: all $transition-fast ease;
      }
      .icon-bar+.icon-bar {
        margin-top: 5px;
      }
      .icon-bar.one {
        transform: rotate(-45deg);
      }
      .icon-bar.two {
        background-color: $push-color;
        width: 0;
        margin-top: -3px;
        &:after {
          opacity: 1;
          position: absolute;
          padding: 0 0.75rem 0 2rem;
          top: 0.95rem;
          font-size: 1rem;
          color: $theme-positive;
          content: "close";
        }
      }
      .icon-bar.three {
        transform: rotate(45deg);
        margin-top: -1px;
      }
    }
    .navbar-toggler:hover {
      .icon-bar.one {
        transform: rotate(45deg);
        width: 10px;
        margin-left: 40px;
      }
      .icon-bar.two {
        width: 50px;
        margin-top: 2px;
        background-color: $theme-positive;
        &:after {
          padding: 0 0.75rem 0 2.25rem;
        }
      }
      .icon-bar.three {
        transform: rotate(-45deg);
        width: 10px;
        margin-top: 2px;
        margin-left: 40px;
      }
    }
    .navbar-toggler.active {
      opacity: 0;
    }
  } // push-esc
  .push-block {
    margin-top: 1rem;
  }
}

// start social-menu
.social-menu {
  text-align: left;
  ul#menu-social {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    li {
      margin: 0 .25rem;
      padding: 1rem .5rem;
      a {
        display: inline-block;
        overflow: hidden;
        text-indent: -9999px;
      }
      a:before {
        float: left;
        margin: 0;
        text-indent: 0;
        font-family: "FontAwesome";
        font-size: 2.125rem;
        line-height: 2.125rem;
      }
      &.facebook a:before {
        content: "\f230";
        color: #3b5998;
      }
      &.instagram a:before {
        content: "\f16d";
        color: #fb3958;
      }
      &.twitter a:before {
        content: "\f099";
        color: #1dcaff;
      }
      &.email a:before {
        content: "\f064";
        color: #555;
      }
      &.linkedin a:before {
        content: "\f0e1";
        color: #0077B5;
      }
      &.pinterest a:before {
        content: "\f231";
        color: #bd081c;
      }
      &.googleplus a:before {
        content: "\f0d5";
        color: #d34836;
      }
      &.whatsapp a:before {
        content: "\f232";
        color: #25D366;
      }
    }
  }
}
// ------------------------ end social-menu

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  .pushmenu { width: 70%; }
  .pushmenu-left { left: -70%; }
  .pushmenu-push-toright { left: 70%; }
  button.navbar-toggler {
    outline: 0;
  }
  .navbar-toggler {
    position: relative;
    left: 0;
    outline: 0;
  }
  .navbar-toggler.active {
    left: $theme-padding-left;
    outline: none;
  }
}
@include media-breakpoint-up(md) {
  .pushmenu { width: 50%; }
  .pushmenu-left { left: -50%; }
  .pushmenu-push-toright { left: 50%; }
  .wrap-explore .navbar-toggler {
    .icon-bar.two {
      &:after {
        opacity: 1;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .pushmenu { width: 50%; }
  .pushmenu-left { left: -50%; }
  .pushmenu-push-toright { left: 50%; }

}
@include media-breakpoint-up(xl) {
  .pushmenu { width: 40%; }
  .pushmenu-left { left: -40%; }
  .pushmenu-push-toright { left: 40%; }
}
