/*
# Navigation
# Push Menu, Sticky Nav, etc.
*/

// Local Variables
$header-background: transparent;
$header-color:      $theme-primary;

$push-background:   $nav-background;
$push-color:        $nav-primary;

// Start .page-header with auto hide
.ah.page-header {
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  -webkit-transition-duration: $transition-slow;
          transition-duration: $transition-slow;
  -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
          transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
  -webkit-transition-property: -webkit-transform;
          transition-property: transform;
  background-color: $header-background;
}
.ah.page-header.off-canvas {
  -webkit-transform: translateY( -100% );
      -ms-transform: translateY( -100% );
          transform: translateY( -100% );
}
.ah.page-header.fixed {
  top: 0;
  z-index: 9999;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
// ------------------------------ end .page-header


// start navbar
.navbar {
  min-height: $header-height;
  max-height: $header-height;
  .container {
    padding: 0;
    width: 100%;
  }
}

.navbar-brand {
  -webkit-transition: all $transition-fast ease;
  -moz-transition: all $transition-fast ease;
  transition: all $transition-fast ease;
}


.site-navigation.active .navbar-brand {
  opacity: 0;
}

.wrap-pushmenu .site-navigation.active .navbar-brand {
  opacity: 1;
}

// ------------------------------ end .navbar

// start wrap-explore (left nav)
.wrap-explore {
  position: relative;
  float: left;
  button.navbar-toggler {
    cursor: pointer;
    cursor: hand;
  }
  .navbar-toggler {
    position: relative;
    float: left;
    width: auto;
    font-size: 1.5rem;
    .icon-bar {
      display: block;
      width: 26px;
      height: 2px;
      border-radius: 1px;
      background-color: $header-color;
      -webkit-transition: all $transition-fast ease;
      -moz-transition: all $transition-fast ease;
      transition: all $transition-fast ease;
    }
    .icon-bar+.icon-bar {
      margin-top: 5px;
    }
    .icon-bar.two {
      &:after {
        opacity: 0;
        position: absolute;
        padding: 0 0.75rem 0 1.5rem;
        top: 0.95rem;
        font-size: 1rem;
        color: $header-color;
        content: "menu";
      }
    }
  }
  .navbar-toggler:hover {
    .icon-bar.one {
      transform: rotate(45deg);
      width: 10px;
      margin-left: 40px;
    }
    .icon-bar.two {
      width: 50px;
      margin-top: 2px;
      &:after {
        padding: 0 0.75rem 0 2.25rem;
      }
    }
    .icon-bar.three {
      transform: rotate(-45deg);
      width: 10px;
      margin-top: 2px;
      margin-left: 40px;
    }
  }
  .navbar-toggler.active {
    display: none;
  }
}
// ------------------------ end wrap-explore

// start wrap-brand (central nav)
.wrap-brand {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 128px;
  .navbar-brand {
    opacity: 1;
  }
}

.navbar-brand {
  float: none;
  margin-right: 0;
}

.navbar-brand.custom-logo-link img {
  max-width: 8rem;
  height: auto;
}
// ------------------------ end wrap-brand

// start wrap-meta (central nav)
.wrap-meta {
  display: block;
  float: right;
  margin-top: -2.5rem;
  text-align: right;
}
// ------------------------ end wrap-meta
.pushmenu {
  background: $push-background;
  height: 100%;
  top: 0;
  z-index: 999999999;
  position: fixed;
  overflow-x: hidden;
}

.pushmenu-left.pushmenu-open { //left: 0;
  perspective-origin: right;
  transform: translateX(0);
}

.pushmenu-push {
  position: relative;
  z-index: 999999;
  overflow-x: hidden;
  position: relative;
  left: 0;
  //transform: translateX(0);
}


.pushmenu, .pushmenu-push {
  -webkit-transition: transform $transition-slow ease-in-out;
  -moz-transition: transform $transition-slow ease-in-out;
  transition: transform $transition-slow ease-in-out;
}

$push: 100%;

// Push navigation
.pushmenu { width: $push;}
.pushmenu-left { //left: -80%;
  transform: translateX(-100%);
}
.pushmenu-push-toright { //left: 80%;
  transform: translateX(100%);
}
.pushmenu-push-toright #page {
  transform: translateX($push);
}

.wrap-pushmenu {
  overflow-x: hidden;
  &.navbar .container {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .navbar-brand {
    opacity: 1;
  }
  .push-esc {
    position: absolute;
    float: left;
    height: 3rem;
    margin-left: -0.25rem;
    button.navbar-toggler {
      cursor: pointer;
      cursor: hand;
    }
    .navbar-toggler {
      position: relative;
      float: left;
      width: auto;
      font-size: 1.5rem;
      .icon-bar {
        display: block;
        width: 26px;
        height: 2px;
        border-radius: 1px;
        background-color: $push-color;
        -webkit-transition: all $transition-fast ease;
        -moz-transition: all $transition-fast ease;
        transition: all $transition-fast ease;
      }
      .icon-bar+.icon-bar {
        margin-top: 5px;
      }
      .icon-bar.one {
        transform: rotate(-45deg);
      }
      .icon-bar.two {
        background-color: $push-color;
        width: 0;
        margin-top: -3px;
        &:after {
          opacity: 1;
          position: absolute;
          padding: 0 0.75rem 0 2rem;
          top: 0.95rem;
          font-size: 1rem;
          color: $nav-primary;
          content: "close";
        }
      }
      .icon-bar.three {
        transform: rotate(45deg);
        margin-top: -1px;
      }
    }
    .navbar-toggler:hover {
      .icon-bar.one {
        transform: rotate(-45deg);
        width: 10px;
      }
      .icon-bar.two {
        width: 50px;
        margin-top: 2px;
        &:after {
          padding: 0 0.75rem 0 2.25rem;
        }
      }
      .icon-bar.three {
        transform: rotate(45deg);
        width: 10px;
        margin-top: 2px;
      }
    }
    .navbar-toggler.active {
      opacity: 0;
    }
  } // push-esc
}

// Start push-block
.push-block {
  padding: .5rem .75rem .75rem;
  margin: .25rem 0;
  width: 100%;
  font-size: $display6-size;
  color: $nav-primary;
  /*border-bottom: 1px dashed white;
  &:first-child {
    border-top: 1px dashed white;
  } Add lines */
  span.title {
    display: block;
    opacity: .5;
  }
  form {
  }
  form.lines-dark {
    .form-control, .btn-primary {
      border-color: $nav-primary;
      color: $nav-primary;
    }
  }
}

/*.push-block-wrapper {
  overflow-y: scroll;
}*/

/*.push-grid {
  .push-block {
    padding: 0;
    &:nth-child(odd) {
      padding-right: .25rem;
    }
    &:nth-child(even) {
      padding-left: .25rem;
    }
    margin-top: 1rem;
  }
  .push-block-square {
    border: 1px solid $theme-positive;
    border-radius: .5rem;
  }
}*/

.push-nav {
  float: left;
  padding: 0rem .5rem .5rem;
  width: 100%;
  .global-menu {
    $nav-font: .9rem;
    float: left;
    width: 100%;
    ul {
      padding: 0;
      li {
        display: inline-block;
        width: 33.333%;
        $n: 0;
        $ntb: .125rem;
        padding: $ntb $n;
        /*3xn 1st column*/&:nth-child(3n+1) { padding: $ntb $n $ntb 0; }
        /*3xn 2nd column*/&:nth-child(3n+2) { padding: $ntb $n; }
        /*3xn 3rd column*/&:nth-child(3n+0) { padding: $ntb 0 $ntb $n; }
        a {
          display: block;
          padding: .125rem;
          width: 100%;
          border: 1px solid $nav-primary;
          border-radius: .25rem;
          color: $nav-primary;
          font-size: $nav-font;
          text-align: center;
          transform: scale(.95);
          transition: transform $transition-fast ease-out;
        }
        a:hover {
          text-decoration: none;
          transform: scale(1);
        }
        a:focus, a:active {
          background: $nav-primary;
          color: $theme-negative;
        }
        a:before {
          padding-bottom: .25rem;
          font-family: "FontAwesome";
          font-size: 2.125rem;
          line-height: 3rem;
        }
        a:hover::before {
          border-bottom: none;
        }
        &.about-us a:before {
          display: block;
          content: "\f19c";
        }
        &.news a:before {
          display: block;
          content: "\f1ea";
        }
        &.our-work a:before {
          display: block;
          content: "\f0c0";
        }
        &.get-involved a:before {
          display: block;
          content: "\f12e";
        }
        &.campaigns a:before {
          display: block;
          content: "\f1d9";
        }
        &.resources a:before {
          display: block;
          content: "\f0f6";
        }
        &.direct-work a:before {
          display: block;
          content: "\f018";
        }
        ul.children {
          display: none;
        }
      }
    }
  }
}

// start social-menu
.social-menu,
.global-social-menu {
  text-align: left;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    li {
      margin: 0 .25rem;
      padding: 1rem .5rem;
      a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        text-indent: -9999px;
        border-bottom: 0;
        transform: scale(.9);
        transition: transform $transition-fast ease-out;
        &:hover {
          border-bottom: 0;
          transform: scale(1);
        }
      }
      a:before {
        float: left;
        position: relative;
        margin: 0;
        min-width: 45px;
        text-indent: 0;
        text-align: center;
        font-family: "FontAwesome";
        font-size: 2.125rem;
        line-height: 2.125rem;
      }
      &.facebook a:before {
        content: "\f230";
        color: #3b5998;
      }
      &.instagram a:before {
        content: "\f16d";
        color: #fb3958;
      }
      &.twitter a:before {
        content: "\f099";
        color: #1dcaff;
      }
      &.email a:before {
        content: "\f064";
        color: #555;
      }
      &.linkedin a:before {
        content: "\f0e1";
        color: #0077B5;
      }
      &.pinterest a:before {
        content: "\f231";
        color: #bd081c;
      }
      &.googleplus a:before {
        content: "\f0d5";
        color: #d34836;
      }
      &.whatsapp a:before {
        content: "\f232";
        color: #25D366;
      }
    }
  }
}
// ------------------------ end social-menu

.global-social-menu {
  ul {
    li {
      margin-bottom: .45rem;
      padding: 0;
      height: 55px;
      border: 1px solid white;
      border-radius: .25rem;
      a {
        padding: .5rem;
      }
      a:before {
        font-size: 1.75rem;
        color: $nav-primary!important;
      }
    }
  }
}
// ------------------------ end global-social-menu

// Responsive breakpoints
@include media-breakpoint-up(sm) {
  /*.pushmenu { width: 70%; }
  .pushmenu-left { left: -70%; }
  .pushmenu-push-toright { left: 70%; }*/

  $push: 80%;

  // Push navigation
  .pushmenu { width: $push; }
  .pushmenu-left { //left: -80%;
    transform: translateX(-100%);
  }
  .pushmenu-push-toright { //left: 80%;
    transform: translateX(100%);
  }
  .pushmenu-push-toright #page {
    transform: translateX($push);
  }

  button.navbar-toggler {
    outline: 0;
  }
  .navbar-toggler {
    position: relative;
    left: 0;
    outline: 0;
  }
  .navbar-toggler.active {
    left: $theme-padding-left;
    outline: none;
  }
  .push-nav {
    .global-menu {
      $nav-font: 1.25rem;
      ul {
        li {
          a {
            font-size: $nav-font;
            word-wrap: normal;
            padding: 1rem .125rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  /*.pushmenu { width: 50%; }
  .pushmenu-left { left: -50%; }
  .pushmenu-push-toright { left: 50%; }*/

  $push: 50%;

  // Push navigation
  .pushmenu { width: $push; }
  .pushmenu-left { //left: -80%;
    transform: translateX(-100%);
  }
  .pushmenu-push-toright { //left: 80%;
    transform: translateX(100%);
  }
  .pushmenu-push-toright #page {
    transform: translateX($push);
  }

  .wrap-explore .navbar-toggler {
    .icon-bar.two {
      &:after {
        opacity: 1;
      }
    }
  }
  .push-nav {
    .global-menu {
      $nav-font: 1rem;
      ul {
        li {
          $n: .25rem;
          $ntb: .25rem;
          padding: $ntb $n;
          /*3xn 1st column*/&:nth-child(3n+1) { padding: $ntb $n $ntb 0; }
          /*3xn 2nd column*/&:nth-child(3n+2) { padding: $ntb $n; }
          /*3xn 3rd column*/&:nth-child(3n+0) { padding: $ntb 0 $ntb $n; }
          width: 33.333%;
          a {
            font-size: $nav-font;
            word-wrap: normal;
            padding: .125rem;
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  /*.pushmenu { width: 50%; }
  .pushmenu-left { left: -50%; }
  .pushmenu-push-toright { left: 50%; }*/

  $push: 50%;

  // Push navigation
  .pushmenu { width: $push; }
  .pushmenu-left { //left: -80%;
    transform: translateX(-100%);
  }
  .pushmenu-push-toright { //left: 80%;
    transform: translateX(100%);
  }
  .pushmenu-push-toright #page {
    transform: translateX($push);
  }

  .push-nav {
    .global-menu {
      $nav-font: 1.25rem;
      ul {
        li {
          width: 33.333%;
          a {
            font-size: $nav-font;
            word-wrap: normal;
            padding: 1.5rem .5rem;
          }
        }
      }
    }
  }

}
@include media-breakpoint-up(xl) {
  /*.pushmenu { width: 45%; }
  .pushmenu-left { left: -45%; }
  .pushmenu-push-toright { left: 45%; }*/
  .push-block {
    padding: .5rem 1.75rem .75rem;
  }
  .push-nav {
    padding: .5rem 1.25rem .75rem;
    .global-menu {
      $nav-font: 1.5rem;
      ul {
        li {
          $n: .5rem;
          $ntb: .5rem;
          padding: $ntb $n;
          /*3xn 1st column*/&:nth-child(3n+1) { padding: $ntb $n $ntb 0; }
          /*3xn 2nd column*/&:nth-child(3n+2) { padding: $ntb $n; }
          /*3xn 3rd column*/&:nth-child(3n+0) { padding: $ntb 0 $ntb $n; }
          width: 33.333%;
          a {
            font-size: $nav-font;
            padding: 2rem .5rem;
          }
        }
      }
    }
  }
}
