/*
# Structure
*/

.site {
  transition: all $transition-slow ease;
  &.active {
    opacity: .7;
  }
}

// Wrappers
.wrapper {
  padding-top: $theme-fixed-nav; // add padding for fixed-nav layout
  &.push-top { // Push this wrapper level with Navbar
    padding-top: 0;
  }
}
#single-wrapper {
  padding-bottom: 0;
}
#wrapper-footer {
  background-color: $theme-positive;
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
