/*
# Structure
*/

.site {
  transition: all $transition-slow ease;
  &.active {
    opacity: .7;
  }
}

// Wrappers
.wrapper {
  padding-top: $theme-fixed-nav; // add padding for fixed-nav layout
}

// Responsive breakpoints
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
